* {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: auto;
}

body {
	background-color: black;
	color: white;
}

div {
  margin-bottom: 10px;
  align-items: center;
}

button {
  width:180px;
  height:60px;
  background-color: #e2c359;
  border-radius: 8px;
  border: none;
  margin-right: 20px;
  cursor: text;
}

.game-over{
  color: white;
  background-color: #c5312a;
  border: 2px solid white;
  cursor: pointer;
}

.cell {
	width: 45px;
	height: 45px;
	text-align: center;
	font-size: 25px;
}

.wall {
	background-color: blue;
	border: 2px solid blue;
	color: blue;
}

.pacman {
	width: 0px;
	height: 0px;
	border-right: 18px solid transparent;
	border-top: 18px solid gold;
	border-left: 18px solid gold;
	border-bottom: 18px solid gold;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}

.hide{
  display: none;
}